<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./styles/components/header.css">
</head>

<body>
    <div class="mainContainer">
        <div class="topBar">
            <div>
                <a href="tel:747-200-6513" class=""><i class="bi-telephone-fill"></i>747-200-6513</a>
                <a href="mailto:contact@achillesmight.com"><i class="bi-envelope-fill"></i>contact@achillesmight.com</a>
            </div>
        </div>
        <nav>
            <div class="navContainer">
                <div class="mobLogo">LOGO</div>
                <i onclick="navToggle()" class="hamBurger bi-list"></i>

                <div class="hdrNavigation">
                    <div class="hdrNavigationBox">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">How it Works</a></li>
                            <li><a href="#">What we do</a></li>
                        </ul>

                        <div class="deskLogo">
                            <a href="#">LOGO</a>
                        </div>

                        <ul>
                            <li><a href="#">Let's Talk</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><button class="contact"><a href="#">Contact Us</a></button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>

</html>