.mainContainer {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--primaryColor);
}

@media (min-width: 1024px) {
    .mainContainer {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.topBar {
    background: rgb(247, 247, 247);
    font-size: 0.750rem;
}

.topBar div {
    display: flex;
    padding: 0rem 1rem;
    margin: 0rem auto;
    justify-content: center;
    align-items: center;
    max-width: 64rem;
    height: 2.5rem;
}

.topBar div a {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 0.5rem;
}

.topBar div a:nth-child(even) {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border-left-width: 2px;
}

@media (min-width: 768px) {
    .topBar div a:nth-child(even) {
        padding-left: 1rem;
        margin-left: 1rem;
    }

    .topBar div {
        justify-content: end;
    }
}

nav {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navContainer {
    display: flex;
    padding: 0rem 1rem;
    margin: 0rem auto;
    justify-content: space-between;
    align-items: center;
    max-width: 64rem;
    height: 3.5rem;
}

@media (min-width: 1024px) {
    .navContainer {
        height: auto;
        padding: 0;
    }
}

.hamBurger {
    font-size: 1.875rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .hamBurger {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .hamBurger {
        display: none;
    }
}

.hdrNavigation {
    display: none;
    position: absolute;
    right: 0.5rem;
    top: 5rem;
    padding-top: 2.5rem;
}

@media (min-width: 1024px) {
    .hdrNavigation {
        display: block !important;
        position: relative;
        top: 0;
        right: 0;
        padding-top: 0;
        width: 100%;
    }
}

.hdrNavigationBox {
    display: flex;
    padding: 1rem;
    background-color: #ffffff;
    font-weight: 500;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 11rem;
    gap: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (min-width: 1024px) {
    .hdrNavigationBox {
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 0;
        box-shadow: none;
    }
}

.hdrNavigationBox ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
    color: rgb(102, 102, 102);
}

@media (min-width: 1024px) {
    .hdrNavigationBox ul {
        flex-direction: row;
        align-items: center;
        width: 33.333333%;
        gap: 0;
    }
}

.hdrNavigationBox ul li:hover {
    color: #000000;
}

.contact {
    padding: 0.45rem 1.5rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
    border-width: 2px;
    border: 2px solid var(--primaryColor);
    background: white;
    font-weight: 500;
    font-size: 14px;
}

.contact:hover {
    color: #ffffff;
    background-color: var(--primaryColor);
}

@media (min-width: 1024px) {
    .contact {
        margin-top: 0;
    }
}


.mobLogo {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
}

@media (min-width: 640px) {
    .mobLogo {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

@media (min-width: 768px) {
    .mobLogo {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media (min-width: 1024px) {
    .mobLogo {
        display: none;
    }

}

.deskLogo {
    display: none;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    text-align: center;
}

@media (min-width: 1024px) {
    .deskLogo {
        display: block;
        width: 16.666667%;
    }
}